<template>
  <v-form
    ref="form"
  >
    <v-text-field
      v-model="login"
      :rules="loginRules"
      label="Login"
      type="text"
      lazy-validation
      required
      @input="userExist = false"
    />
    <v-text-field
      v-model="password"
      :rules="passwordRules"
      label="Password"
      type="password"
      lazy-validation
      required
      @input="userExist = false"
    />
    <v-alert
      :value="serverError"
      type="error"
    >
      Server Error. Try again later
    </v-alert>
    <v-btn @click="submit()">
      submit
    </v-btn>
  </v-form>
</template>
<script>
import { mapActions } from 'vuex'

export default {
  name: 'FormRegister',
  data() {
    return {
      userExist: false,
      processing: false,
      serverError: false,
      login: '',
      loginRules: [
        v => !!v || 'Login is required',
        v => (v && v.length <= 10) || 'Login must be less than 10 characters',
        v => (v && !this.userExist) || `Login ${v} already exists`
      ],
      password: '',
      passwordRules: [
        v => !!v || 'Password is required',
        v => (v && v.length >= 4 && v.length <= 15) || 'Password must be more then 4 and less than 10 characters'
      ]
    }
  },
  methods: {
    ...mapActions({
      register: 'auth/register'
    }),
    async submit() {
      if (this.$refs.form.validate()) {
        if (this.processing) return
        this.processing = true

        const userData = {
          login: this.login,
          password: this.password
        }
        try {
          const status = await this.register(userData)
          if (status === 'exist') {
            this.userExist = true
            this.processing = false
            this.$refs.form.validate()
          }
        } catch (e) {
          this.serverError = true
          this.processing = false
          console.error(e)
          setTimeout(() => { this.serverError = false }, 5000)
        }
      }
    }
  }
}

</script>
