<template>
  <v-form ref="form">
    <v-text-field
      v-model="login"
      :rules="loginRules"
      label="Login"
      type="text"
      lazy-validation
      required
      @input="resetErrors()"
    />
    <v-text-field
      v-model="password"
      :rules="passwordRules"
      label="Password"
      type="password"
      lazy-validation
      required
      @input="resetErrors()"
    />
    <v-alert
      :value="serverError"
      type="error"
    >
      Server Error. Try again later
    </v-alert>
    <v-btn @click="submit()">
      submit
    </v-btn>
  </v-form>
</template>

<script>
import { mapActions } from 'vuex'
export default {
  name: 'FormLogin',
  data() {
    return {
      login: '',
      userNotExist: false,
      serverError: false,
      loginRules: [
        v => !!v || 'Login is required',
        v => (v && v.length <= 10) || 'Login must be less than 10 characters',
        v => (v && !this.userNotExist) || `User ${v} not exist`
      ],
      password: '',
      wrongPassword: false,
      passwordRules: [
        v => !!v || 'Password is required',
        v => (v && v.length >= 4 && v.length <= 15) || 'Password must be more then 4 and less than 10 characters',
        v => (v && !this.wrongPassword) || 'Wrong password!'
      ]
    }
  },
  methods: {
    ...mapActions({
      loginUser: 'auth/login'
    }),
    resetErrors() {
      this.userNotExist = false
      this.wrongPassword = false
    },
    async submit() {
      if (this.$refs.form.validate()) {
        if (this.processing) return
        this.processing = true

        const userData = {
          login: this.login,
          password: this.password
        }
        try {
          const status = await this.loginUser(userData)
          if (status === 'wrong-password') {
            this.wrongPassword = true
          } else {
            this.userNotExist = true
          }
          this.processing = false
          this.$refs.form.validate()
        } catch (e) {
          this.serverError = true
          this.processing = false
          console.error(e)
          setTimeout(() => { this.serverError = false }, 5000)
        }
      }
    }
  }
}

</script>
