<template>
  <v-layout row justify-center align-center>
    <v-flex xs3>
      <v-card>
        <v-tabs
          v-model="active"
          color="cyan"
          dark
          slider-color="yellow"
        >
          <v-tab>
            Login
          </v-tab>
          <v-tab>
            Register
          </v-tab>
          <v-tab-item>
            <v-card>
              <v-card-text>
                <FormLogin />
              </v-card-text>
            </v-card>
          </v-tab-item>
          <v-tab-item>
            <v-card>
              <v-card-text>
                <FormRegister />
              </v-card-text>
            </v-card>
          </v-tab-item>
        </v-tabs>
      </v-card>
    </v-flex>
  </v-layout>
</template>

<script>
import FormLogin from '../components/FormLogin'
import FormRegister from '../components/FormRegister'

export default {
  components: {
    FormLogin,
    FormRegister
  },
  layout: 'auth',
  data() {
    return {
      active: null
    }
  }
}
</script>
